<div
    class="layout-footer flex align-items-center justify-content-between p-4 shadow-2 surface-card border-round-top-xl mt-4">
    <span class="font-medium text-500">MedLoop © 2025</span>
    <div class="flex gap-2">
        <i
            class="pi pi-twitter text-xl text-500 cursor-pointer hover:text-primary transition-colors transition-duration-150"></i>
        <i
            class="pi pi-facebook text-xl text-500 cursor-pointer hover:text-primary transition-colors transition-duration-150"></i>
        <i
            class="pi pi-github text-xl text-500 cursor-pointer hover:text-primary transition-colors transition-duration-150"></i>
    </div>
</div>