<div class="min-h-screen flex flex-column bg-blue-50">
    <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>

    <div class="flex flex-1 relative">
        <div class="w-18rem hidden lg:block p-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="flex-1 p-3 flex flex-column min-w-0">
            <div class="flex-1">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>

    <p-drawer [(visible)]="sidebarVisible" [header]="'Menu'" styleClass="w-20rem">
        <app-sidebar></app-sidebar>
    </p-drawer>
</div>